@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #070b0f;
  --foreground: #f0f0f0;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}

@layer components {
  .glass-card {
    @apply bg-white/5 backdrop-blur-md border border-white/10 rounded-2xl;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
